body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
    overflow: hidden;
    position: relative; /* Ensure body is positioned relative */
}
.header {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    padding: 15px 30px;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}

.footer {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px 20px; /* Adjusted padding */
    width: 100%;
    max-height: 200px; /* Adjusted max-height */
    text-align: center;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between; /* Ensure two columns */
    flex-wrap: wrap; /* Allow items to wrap */
}

.team-list {
    max-width: 700px; /* Adjust width of each column */
    width: 100%;
    text-align: center;
    margin-bottom: 20px; /* Add margin to separate from footer */
}
.team-list ul {
    list-style-type: none;
    padding: 0;
}
.team-list li {
    background-color: #ffffff;
    color: #4b0082;
    padding: 15px 30px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    font-size: 1.3em;
    transition: transform 0.3s ease, box-shadow 0.3s ease, justify-content 0.3s ease;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.team-list li:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
}
.name {
    flex: 2;
    transition: flex 0.3s ease, text-align 0.3s ease;
}
.usn {
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-left: 20px;
}
.team-list li:hover .name {
    flex: 1;
    text-align: left;
}
.team-list li:hover .usn {
    opacity: 1;
}
.button-container {
    z-index: 2;
    position: relative;
    text-align: center;
    margin-top: 20px;
}
.button {
    background-color: #4682b4;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}
.button:hover {
    background-color: #4169e1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}
.video-background iframe {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: calc(100vh - 100px); /* Adjust based on header and footer heights */
    pointer-events: none;
}